* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(88, 33, 70);
    color: black;
}

header .titre{
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 30px;
    font-size: larger ;
    font-weight: bold; /*gras*/
}

.liste {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px,1fr)); /*fatit un quadrillage et distribue equitablement */
    gap: 20px;
    padding: 20px;
    width: 100%;
}

.agents{ /*faire les rectangles derriere les cartes pour apres mettre les images dessus*/
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    max-width: 300px;
}

.agents img{
    width: 100%;
    height: 220px;
    display: block; /*des boites qui vont s'aligner*/
    border-radius: 8px;
    object-fit: cover;
}

.nom{
    margin-top: 8px;
    text-align: center;
    font-size: medium;
    font-weight: bold;

}